 
 /* mobile divce */

  @media screen and (max-width: 576px){

    
.nav-container{
    flex-direction: column;
    
    
}

.navtilte{

   
    
    width: 100%;
    justify-content: center;
   
    }



    .nav-section {
        
        width: 100%;
       flex-direction: column;
    
    }

    .nav-section a{
        margin-top: 10px;
    }


    /* banner section response strat here  */
    .banner-container{
        width: 100%;
        margin: 10px auto;
    }

    /* banner section response end here  */

     /* features section response start here  */

     .Features-container,
     .experience-section-container{
      flex-direction: column;
       
      }

      .Features-img-container{
       
        grid-template-columns:1fr;
        margin-bottom: 20px;
     
    
    
    }

    .Features-content-container{
      
        margin-left: 0px;
        
    
     }

       /* features section response end here  */

       /* logo section response start here  */
        .some-facts{

            margin-left: 100px;
        }
       .logo-container{
       flex-direction: column;
       
       gap: 10px;
       width: 100%;
       margin-left: 100px;
       }

       /* logo section response start here  */

       .company-logo{
        flex-direction: column;
        gap: 20px;
       
     }

  } 


  @media screen and (min-width: 571px) and (max-width: 960px) {
  
    .nav-container{
        flex-direction: column;
        
    }

    .navtilte{

   
    
        width: 100%;
        justify-content: center;
       
        }


        .nav-section {
        
            width: 100%;
           flex-direction: column;
        
        }


  /* banner section response strat here  */
  
  
   

    /* banner section response strat here  */


     /* features section response start here  */

        .Features-img-container{
         
          grid-template-columns:repeat(2, 1fr);
          margin-bottom: 20px;
       
      
      
      }
  
      .Features-content-container{
        
          margin-left: 0px;
          
      
       }
  
         /* features section response end here  */
            
         /* logo container style strat here  */
    

  } 

