@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@500;600;700;900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}


/* searad style */
.primary-color{
    color:#FF900E;
}


*{
    box-sizing: border-box;
}

 /* nav scrtion style start here */

.nav-container{
   
    min-height: 40px;
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    
}

.navtilte{

display: flex;
justify-items: center;
gap: 10px;

width: 50%;
}
.navtilte p{
    font-weight: 700;
    font-size: 20px;
}
.navtilte img{
    width: 50px;
    
}


.nav-section {
    
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
   
}

.nav-section a{
    text-decoration: none;
   
}

 /* nav scrtion style end here */
 

  /* banner scrtion style start here */


    .banner-container{
        width: 1250px;
        margin: 0 auto;
    }
     .banner-context{
        border: 1px solid red;
        width: 600px;
        text-align: center;
        margin: 30px auto;
       
     }
     .banner-context-tittle {
       
        font-size: 44px;
        font-weight: 700;
        color: #131313;
        margin: 0 auto;
        
        border: 1px solid green;
     }

     .banner-context-desction{
        text-align: justify;
        color:#727272;
        font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 26px;
     }
    .banner-context-btn{
        background-color: #FF900E;
        width: 180px;
       
        padding: 15px;
        text-align: center;
        color: white;
        margin: 0 auto;
        border-radius: 5px;
    }
     


  
  /* banner scrtion style end here */


